<nav>
    <div class = 'w-full h-[30px] bg-red-500 flex items-center justify-center'>
        <p class="text-xs font-medium text-white  ">Summer Sale For all Swim Suits And Free Express Delivery - OFF 50%!<a href="" class="underline">Shop Now</a>

        </p>
    </div>

    <div class="w-full h-[60px] flex border-b-2 border-gray-300">
   <div class=' w-[60%] h-full flex items-center justify-around px-5'>
    <div class="flex items-center space-x-3">
         <h1 class='no-underline font-bold text-xl'>E-commerce</h1>

    <ul class='flex'>
        <li><a class='px-3 py-2 font-medium hover:underline' href="#">Home</a></li>
        <li><a class='px-3 py-2 font-medium hover:underline' href="#">Contact</a></li>
        <li><a class='px-3 py-2 font-medium hover:underline' href="#">About</a></li>
        <li><a class='px-3 py-2 font-medium hover:underline' href="#">Sign up</a></li>
    </ul>

    <button type='button' class='px-3 py-2 bg-red-500 text-white font-medium rounded-md hover:bg-red-600 cursor-pointer'>Shop</button>
</div>
    </div>

<div class=' w-[40%] h-full flex items-center justify-around px-5'>
    <div class ="flex items-center space-x-3">
    <input type="text" placeholder="What are you looking for?" class="bg-gray px-3 rounded-md ">
    <button type='button' class='px-3 py-2 bg-blue-500 text-white font-medium rounded-md hover:bg-blue-600 cursor-pointer'>Search</button>
    <button type='button' class='px-3 py-2 bg-green-500 text-white font-medium rounded-md hover:bg-green-600 cursor-pointer'> Sign in</button>
    </div>
</div>

    </div>

</nav>