<footer>
    <div class='w-full h-[400px] bg-red-500'>

    <div class='w-full h-[80%] flex items-center justify-center'>
        <ul class='w-[80%] h-[80%] flex'>
            <li class='w-[20%] h-full  space-y-4'>
                <h2 class='text-white font-bold text-xl'>Exclusive</h2>
                <p class='text-white'>Subscribe</p>
                <p class='text-white'>Get 10% off your first order</p>
                <input type='text' placeholder='Enter your email' class='w-[80%] px-2 py-1 border border-white placeholder:text-white' />
            </li>

            <li class='w-[20%] h-full   space-y-4'>
                <h2 class='text-white font-bold text-xl'>Support</h2>
                <p class='text-white'>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
                <p class='text-white'>
                    exclusive@mail.com
                </p>
                <p class='text-white'>
                    +88015-88888-9999
                </p>
            </li>

            <li class='w-[20%] h-full  space-y-4'>
                <h2 class='text-white font-bold text-xl'>Follow Us</h2>
                <p class='text-white'> My Account</p>
                <p class='text-white'>Cart</p>
                <p class='text-white'>Wishlist</p>
                <p class='text-white'>Shop</p>
            </li>
            <li class='w-[20%] h-full   space-y-4'>
                <h2 class='text-white font-bold text-xl'>Quick Link</h2>
                <p class='text-white'>Privacy policy</p>
                <p class='text-white'>Terms of use</p>
                <p class='text-white'>FAQ</p>
                <p class='text-white'>Contact</p>
            </li>
            <li class='w-[20%] h-full   space-y-4'>
              <h2 class='text-white font-bold text-xl'>Download app</h2>
              <p class='text-white'>Save 3$ with app & New users only </p>
              <div class="w-full  flex items-center justify-around ">
    
                <div class="w-[50%]">
                <img 
                src="../../public/Images/app store.png" 
                alt="app store" 
                class="w-[100%] mb-1">

                <img 
                src="../../public/Images/google play.png" 
                alt="google play" 
                class="w-[100%]">

                
                
                
                <div>
             </div>
            </li>
        </ul>   
    </div>

    <div class='w-full h-[20%]  flex items-center justify-center border-t-1 border-gray-400'>
        <p class='text-white font-medium'>Copyright Rimel 2022. All right reserved</p>
    </div>

</div>
</footer>